.emptyMessage {
    font-weight: bold;
    color: red;
    font-size: 1.2em;
}
li {
    margin-bottom: 7px;
    font-size: 1.2em;
    list-style-type: square;
}
li > button {
    margin-left: 6px;
}
button > span {
    color: green;
}
